version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
    volumes:
      - ./kafka-init:/kafka-init

  kafka-init:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - kafka
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        sleep 10
        kafka-topics --create --topic event-outcomes --bootstrap-server kafka:9092 --replication-factor 1 --partitions 1

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: betsdb
      POSTGRES_USER: betsuser
      POSTGRES_PASSWORD: betspassword
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-init:/docker-entrypoint-initdb.d

  postgres-init:
    image: postgres:15
    depends_on:
      - postgres
    environment:
      POSTGRES_PASSWORD: betspassword
    volumes:
      - ./postgres-init:/docker-entrypoint-initdb.d

  rocketmq-namesrv:
    image: apache/rocketmq:4.9.4
    container_name: rocketmq-namesrv
    ports:
      - "9876:9876"
    environment:
      - JAVA_OPT_EXT=-server -Xms512m -Xmx512m
    command: [ "sh", "mqnamesrv" ]

  rocketmq-broker:
    image: apache/rocketmq:4.9.4
    container_name: rocketmq-broker
    ports:
      - "10909:10909"
      - "10911:10911"
    environment:
      - NAMESRV_ADDR=rocketmq-namesrv:9876
      - JAVA_OPT_EXT=-server -Xms512m -Xmx512m
    command: [ "sh", "mqbroker", "-n", "rocketmq-namesrv:9876", "-c", "/opt/rocketmq-4.9.4/conf/broker.conf" ]
    depends_on:
      - rocketmq-namesrv
    volumes:
      - ./broker.conf:/opt/rocketmq-4.9.4/conf/broker.conf